*{
    font-family:"General Sans";
}
#lovehoster{
    padding-top:40px;
    color:black;
    font-weight:900;

}
#hero-section-logo-rocket{
    font-size:220px;
    padding-left:80px;
}
#spedo{
    height: 40px;
    width:30px;
}
#antivirus{
    height: 40px;
    width:30px;
}
.changecolor{
    color:darkblue;
    font-weight:800;
}
#ourcustomerlovesus{
    color:black;
    font-weight:900;

}


.star-padding{
    padding-top:8px;
    padding-bottom:12px;
}
.profile{
    height:60px;
    width:60px;
    padding-left:8px;
}
#boost{
    font-size:44px;
}
#securityfirst{
    color:rgb(0, 0, 125);
    font-weight:900;
    
}
#tickicon{
    height:20px;
    width:20px;
}
#padding-securitybox{
    padding-left:42px;
}
#image-security-padding{
    padding-left:150px;
}
#security-box{
    margin-top:64px;
}
#lee{
    border-radius:50%;
}
#joe{
    border-radius:50%;
}
#services{
    background-color:#683ee6bc;
    color:white;
    padding-bottom:66px;
}